html
  head
    title Bruins Stats API
    link(rel='stylesheet', href='./public/css/index.css')
  body
    header
      .name Boston Bruin 2019 Stats API
    table
        tr
          th
            a.link(href='./getStats.html') Get/stats
          th
            a.link(href='./getStatsByPlayer.html') GET/stats/{player}
          th
            a.link(href='./postStats.html') POST/stats
          th
            a.link(href='./deleteStatsByPlayer.html') DELETE/stats/{player}
    p.Route 
      HELLO
      br Welcome to the 2019 Bruins Stats API.
      br
      br Please click your route for details.
  
    
  

    
