html
  head
    title 2019 Stanley Cup Finals Stats API
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      .header 2019 Stanley Cup Finals Stats API
    table
        tr
          td
            .blank
          th
            text Get/teams
          th
            text GET/player/{lastName}
          th
            text POST/player
            
        tr
          th
            text Route:
          td https://localhost:1111/teams
          td https://localhost:1111/players/{player}
          td https://localhost:1111/players/         

        tr
          th
            text Headers:
          td Authorization: YOUR_API_KEY_HERE
          td Authorization: YOUR_API_KEY_HERE
          td Authorization: YOUR_API_KEY_HERE

        tr
          th
            text Description:   
          td Returns all Teams with its coaches and players.
          td Retrieves the player(s) associated with the provided last name and their stats. 
          td Accepts new player details and saves them as a new player, returning the saved record with a 201 status.

    p.hello HELLO <br> Welcome to the 2019 Stanley Cup Finals Stats API.
       
  
    
  

    
