html
  head
    title Bruins Stats API
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      .name Boston Bruin 2019 Stats API
    table
        tr
          th
            a.link(href=' /stats') Get/stats
          th
            a.link(href=' /statsByPlayer') GET/stats/{player}
          th
            a.link(href=' /postStats') POST/stats
          th
            a.link(href=' /deleteStatsByPlayer') DELETE/stats/{player}
    p.Route HELLO <br> Welcome to the 2019 Bruins Stats API. Please click your route for details.
       
  
    
  

    
