html
  head
    title Bruins Stats API
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      .name Boston Bruin 2019 Stats API
    table
        tr
          th
            a.link(href=' /stats') Get/stats
          th
            a.link(href=' /statsByPlayer') GET/stats/{player}
          th
            a.link(href=' /postStats') POST/stats
          th
            a.link(href=' /deleteStatsByPlayer') DELETE/stats/{player}
    p.Route Method: POST/stats
      <br> Route: https://localhost:1111/stats/
      <br> Headers: Authorization: YOUR_API_KEY_HERE
      <br> Description: Accepts new player details and saves them as a new player, returning the saved record with a 201 status.